.state
{
	fill:#E0E0E0;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-opacity:1;
}

.state:hover {
    fill: #EDB41D;
}

.selectedstate {
    fill: #EDB41D;
}

#formStateSelection select {
	-webkit-appearance:none;
}

#headerNav {
    background-color: #494444;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

#formStateSelection {
    background-color: #494444;
    padding: 15px;
    margin: 0px;
}

#formStateSelection label {
    padding: 0px;
    color: #FFFFFF;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 5px;
}

#formStateSelection select {
    clear: left;
}

body .row p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 9pt;
}