.state
{
	fill:#E0E0E0;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-opacity:1;
}

.state:hover {
    fill: #EDB41D;
}

.state .selected {
<<<<<<< HEAD
    fill: #EDB41D;
}

#formStateSelection
select {
	-webkit-appearance:none;
}
=======
    fill: #00FF00;
}

>>>>>>> origin/master
